@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter Regular";
    src: url("../assets/Inter-Regular.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "Inter Bold";
    src: url("../assets/Inter-Bold.woff2") format("woff2");
    font-weight: 200;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Inter Regular", sans-serif;
    font-weight: 400;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
}

.localTitle {
    font-family: "Inter", sans-serif;
}
