# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Client build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        node-version:
          - 14.x
          - 15.x
    steps:
    - uses: actions/checkout@v2
    - name: Setup Node ${{ matrix.os }} ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - name: Setup Node dependency cache
      uses: actions/cache@v2
      with:
        # Cache files are stored in `~/.npm` on Linux/macOS
        path: ~/.npm
        key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.OS }}-node-
          ${{ runner.OS }}-
    - run: cd client/
    - run: npm ci
    - run: npm run build
    - run: npm test
    - name: Archive client build
      uses: actions/upload-artifact@v2
      with:
        name: client-build
        path: |
          build
          !build/**/*.map
